{% extends('layouts/base.html.twig') %}

{% block title %}TTours | Settings{% endblock %}

{% block body %}
<div class="user-view">
	{{ include('components/_left_side_nav.html.twig') }}
	<div class="user-view__content">
		<div class="user-view__form-container">
			<div class="notification"></div>
			<h2 class="heading-secondary ma-bt-md">Your account settings</h2>
			{{ form_start(form, { 'method': 'post','attr': {'class': 'form form-user-data'} }) }}
				{{ form_widget(form.id) }}
				{{ form_row(form._token) }}
				<div class="form__group">
					{{ form_label(form, 'First Name', {'label_attr': {'class': 'form__label'} }) }}
					{{ form_widget(form.firstName, {'attr': {'class': 'form__input'} }) }}
				</div>
				<div class="form__group">
					{{ form_label(form, 'Last Name', {'label_attr': {'class': 'form__label'} }) }}
					{{ form_widget(form.lastName, {'attr': {'class': 'form__input'} }) }}
				</div>
				<div class="form__group ma-bt-md">
					{{ form_label(form, 'Email Address', {'label_attr': {'class': 'form__label'} }) }}
					{{ form_widget(form.email, {'attr': {'class': 'form__input'} }) }}
				</div>
				<div class="form__group ma-bt-md">
					{{ form_label(form, 'Password', {'label_attr': {'class': 'form__label'} }) }}
					{{ form_widget(form.password, {'attr': {'class': 'form__input'} }) }}
				</div>
				<div class="form__group form__photo-upload">
					{% set profileImage = user.profileImage ? user.profileImage : 'default.jpg' %}
					<img src="{{ asset('uploads/users/'~profileImage) }}" alt="" class="form__user-photo">
					{{ form_widget(form.profileImage, {'id': 'photo', 'attr': {'class': 'form__upload'} }) }}
					{{ form_label(form, 'Choose new photo', { 'label_attr': {'for': 'photo'} }) }}
				</div>
				<div class="form__group right">
					<button id="btn-save" class="btn btn--small btn--green">Save settings</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}